<div class="flex justify-between  shadow-2xl footer_div p-2 ">
    <div>
        <ion-tab-button tab="home" routerLink="/dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <ion-label class="text-white text-md">Home</ion-label>
            <!-- <ion-icon class=" text-md" name="home" style="color:#ffcc00 ;"></ion-icon> -->
        </ion-tab-button>
    </div>


    <div>
        <ion-tab-button tab="account" routerLink="/delivered">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            <ion-label class="text-white text-md ">Delivered Orders</ion-label>

        </ion-tab-button>
    </div>
    <div>
        <ion-tab-button tab="account" routerLink="/cancled">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>

            <ion-label class="text-white text-md ">Cancled Orders</ion-label>

        </ion-tab-button>
    </div>
</div>