<!-- ===1st Design== -->

<!-- <ion-content class="ion-padding">
    <div align="center">
        <img height="40%" width="40%" src="assets/images/logo1.png" />
    </div>

    <div align="center">

        <h1 class="text-lg   text-black mt-5">Verifying Your Account</h1>
        <p class="text-xs text-gray-600">We have just sent you 4 digit code via <br>your mobile number. </p>
    </div>
    <div class=" pt-2">


        <ion-grid fixed>
            <ion-row class="mb-5">
                <ion-col size="3">
                    <div class="border-2 border-gray-200 shadow-md" style="border-radius: 10%; border-style: outset;text-align: center;">
                        <ion-input type="number"></ion-input>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="border-2 border-gray-200 shadow-md" style=" border-radius: 10%; border-style: outset; text-align: center;">
                        <ion-input type="number"></ion-input>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="border-2 border-gray-200 shadow-md" style="border-radius: 10%; border-style: outset;text-align: center;">
                        <ion-input type="number"></ion-input>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="border-2 border-gray-200 shadow-md" style="border-radius: 10%; border-style: outset;text-align: center;">
                        <ion-input type="number"></ion-input>
                    </div>
                </ion-col>
            </ion-row>
            <div align="center" class="pt-2">
                <ion-button expand="block" class="w-full " color="danger" routerLink="/newpass">Verify OTP</ion-button>
            </div>

        </ion-grid>

    </div>
</ion-content> -->

<!-- ===2nd Design=== -->

<ion-content>

  <!-- <div class="curved">
      <div align="center" class="p-10">
        <img height="40%" width="40%" src="assets/images/logo.png" />
      </div>
    </div> -->

  <div class="img_conn" style="background-image: url('../../../assets/images/bg_img1.png')"></div>

  <div align="center" style="margin-top: -20%;">
    <img class="shadow-t-md" height="40%" width="40%" src="assets/images/logo.png" />
  </div>

  <div style="z-index: 10000; margin-top: -5%;" class="bg-white rounded-tl-3xl rounded-tr-3xl p-4">
    <div align="center">
      <h1 class="text-lg   text-black mt-5">Verifying Your Account</h1>
      <p class="text-xs text-gray-600">We have just sent you 4 digit code via <br>your mobile number. </p>
    </div>
    <div class=" pt-2">
      <ion-grid fixed>
        <ion-row class="mb-5">
          <ion-col size="3">
            <div class="border-2 border-gray-200 shadow-md"
              style="border-radius: 10%; border-style: outset;text-align: center;">
              <ion-input type="number"></ion-input>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="border-2 border-gray-200 shadow-md"
              style=" border-radius: 10%; border-style: outset; text-align: center;">
              <ion-input type="number"></ion-input>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="border-2 border-gray-200 shadow-md"
              style="border-radius: 10%; border-style: outset;text-align: center;">
              <ion-input type="number"></ion-input>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="border-2 border-gray-200 shadow-md"
              style="border-radius: 10%; border-style: outset;text-align: center;">
              <ion-input type="number"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <!-- <div align="center" class="pt-2">
            <ion-button expand="block" class="w-full " color="danger" routerLink="/newpass">Verify OTP</ion-button>
          </div> -->

        <div class="mt-">
          <button class="btn-grad" routerLink="/newpass">
            Verify OTP
          </button>
        </div>

      </ion-grid>
    </div>
  </div>
</ion-content>
