<!-- ===1st Design=== -->

<!-- <ion-content class="ion-padding">
    <div align="center">
        <img height="40%" width="40%" src="assets/images/logo1.png" /> </div>

    <div class="mt-5">
        <ion-title class="text-center pt-5 text-black text-lg">Forgot Password</ion-title>
        <p class="text-center"><span class="text-xs text-gray-600">Enter your mobile number to get OTP.</span></p>
    </div>
    <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <div align="center" class="pt-2">
        <ion-button expand="block" class="w-full " color="danger" routerLink="/otp">Continue</ion-button>
    </div>

</ion-content> -->

<!-- ===2nd Design=== -->
<ion-content>

  <div class="img_conn" style="background-image: url('../../../assets/images/bg_img1.png')"></div>

  <div align="center" style="margin-top: -20%;">
    <img class="shadow-t-md" height="40%" width="40%" src="assets/images/logo.png" />
  </div>

  <div style="z-index: 10000; margin-top: -10%;" class="bg-white rounded-tl-3xl rounded-tr-3xl p-4">
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div class="mt-2">
      <button class="btn-grad" routerLink="/otp">
        Continue
      </button>
    </div>
  </div>

</ion-content>
